{{- if and .Values.fluentd.enabled .Values.fluentd.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "fluent.fullname" . }}-fluentd
  labels:
    {{- include "fluent.fluentd.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "fluent.fullname" . }}-fluentd
  minReplicas: {{ .Values.fluentd.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.fluentd.autoscaling.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.fluentd.autoscaling.targetCPUUtilizationPercentage }}
{{- end }}
